ingressRoute:
  dashboard:
    enabled: true

ports:
  web:
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true

providers:
  kubernetesGateway:
    enabled: true
  kubernetesCRD:
    enabled: true
    allowCrossNamespace: true

gateway:
  listeners:
    web:
      namespacePolicy:
        from: All

namespace:
  name: ingress

podSecurityContext:
  seccompProfile:
    type: RuntimeDefault

securityContext:
  seccompProfile:
    type: RuntimeDefault
