ingressRoute:
  dashboard:
    enabled: true

ports:
  web:
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true
  
  metrics:
    port: 9100
    expose:
      default: true
    exposedPort: 9100
    protocol: TCP


providers:
  kubernetesGateway:
    enabled: true
  kubernetesCRD:
    enabled: true
    allowCrossNamespace: true

rbac:
  enabled: true

metrics:
  prometheus:
    enabled: true
    entryPoint: 'metrics'
    serviceMonitor:
      enabled: true
    service:
      enabled: true

gateway:
  listeners:
    web:
      namespacePolicy:
        from: All

namespace:
  name: ingress

podSecurityContext:
  seccompProfile:
    type: RuntimeDefault

securityContext:
  seccompProfile:
    type: RuntimeDefault
