ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`dashboard.k8s.zakhaven.uk`)
    entryPoints:
      - websecure

ports:
  web:
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true

providers:
  kubernetesGateway:
    enabled: true

gateway:
  listeners:
    web:
      namespacePolicy:
        from: All
